body {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5B6065;
	max-width: 1024px;
}

h1, h2, h3 {
	color: #0098CE;
}

a {
	color: #0098CE;
	font-weight: bold;
}

body {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: black;
	widows: 2;
	orphans: 2;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: black;
	widows: 2;
	orphans: 2;
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding: 1em 1em 1em 1em;
	/* assume 16px font size for downlevel clients */
}

h1, h2, h3, h4, h5, h6 {
	color: #0098CE;
}

a {
	color: #0098CE;
	font-weight: bold;
}

h1, .topictile1 {
	font-size: 170% !important;
}

h2, .topictitle2 {
	font-size: 140% !important;
}

h3, .topictitle3 {
	font-size: 120% !important;
}

h4, .topictitle4 {
	font-weight: bold !important;
}

h5, .topictitle5 {
	font-style: italic;
}

h6, .topictitle6 {
	font-variant: small-caps;
}

td, th {
	padding: 3px 10px;
}

ul.ul {
	padding-inline-start: 1em;
	margin-block-start: 0.5em;
}

ol.ol {
	padding-inline-start: 1em;
	margin-block-end: 0.5em;
}

.table {
	font-size: 90%;
}

.hazardstatement {
	position: relative;
	padding-inline-start: 7em;
}

div [data-role=message-panel] {
	
}

div [data-role=symbol-panel] {
	position: absolute;
	top: 0;
	with: 6em;
	left: 0em;
}

div [data-role=signalword-panel] {
	
}

.clear {
	clear: both;
}

.img {
	max-width: 100%;
}

/*** related links ***/
div.related-links {
	border-top-style: solid;
	border-top-width: 1pt;
}

/****** figures *****/
figure.fig {
	
}

figcaption {
	display: block;
	max-width: 100%;
	margin: auto;
	text-align: center;
}

.fig .image {
	display: block;
	margin: auto;
}

/***** print media ******/
@media print {
	body {
		margin-left: 1in;
		margin-right: 1in;
		margin-top: 2cm;
		margin-bottom: 2cm;
	}
}
